.high, .current {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-bottom: 7px;
  margin-top: 7px;
}

@-webkit-keyframes fullspin {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
  }
}

.circle {
  -webkit-animation-name: fullspin;
  -webkit-animation-ease: cubic;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}